body {
	background-color: #000;
	color: #fff;
}

pre,
.ascii-art,
.prompt {
	white-space: pre;
	margin: 0;
}

p,
pre {
	font-family: Terminus, monospace;
	font-size: 16px;
	margin: 4px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 99%;
	height: 45px;
	display: flex;
	justify-content: flex-end;
}

.user {
	color: #c8e7a8;
	font-weight: bold;
}

.cwd,
.dir {
	color: #3465a4;
	font-weight: bold;
	text-decoration: none;
}

.dir {
	margin-right: 20px;
}

.file {
	color: #fff;
	text-decoration: none;
}

.cursor {
	animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
